<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pts3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/second_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/second_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design">
        <activity
            android:name=".activiteesImportantes.AjouterRecette"
            android:exported="false" />
        <activity
            android:name=".Conteneur.ModificationConteneur"
            android:exported="true" />
        <activity
            android:name=".aliment.ModificationUnAliment"
            android:exported="true" />
        <activity
            android:name=".Conteneur.Gestion_unConteneur"
            android:exported="true" />
        <activity
            android:name=".aliment.GestionUnAliment"
            android:exported="true" />
        <activity
            android:name=".qrcode.AjouterAFrigoQrcode"
            android:exported="true" />
        <activity
            android:name=".Conteneur.Creer_conteneur"
            android:exported="true" />
        <activity
            android:name=".aliment.AjouterAFrigoGeneral"
            android:exported="true" />
        <activity
            android:name=".aliment.AjouterAFrigoManuel"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.Parametres"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.Accessibilite"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.Creer_nouvelle_liste"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.Liste_auto_geneer"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.MesListes"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.Idee_recettes"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.Frigo"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.MesConteneurs"
            android:exported="true" />
        <activity
            android:name=".activiteesImportantes.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>